.container h2  {
  text-align: center;
  margin: 25px auto;
}
.container p  {
  text-align: center;
  margin: 25px auto;
}
/* .list {
  text-align: left;
  max-width: 750px;
  margin: auto;
} */

.submit-form {
  background-color:#2e8ea7;
  display: flex;
  justify-content: center;
  padding: 25px;
  
}

.form-group {
  margin-bottom: 0;
  margin-right: 20px;
}
.btn{
 width: 100px;
}